body
{
	font: 'century gothic', arial, sans-serif;
	background-image: url("style/2.jpg");
    background-repeat: repeat-y;
    width:950px;
	margin:auto;
}


#naglowek
{
	background-color: transparent;
	height: 240px;
}

#logo
{
	width: 825px;
  height: 120px;
}

#logo h1
{
	font: 'century gothic', arial, sans-serif;
	font-size: 300%;
	color: green;
	text-decoration: none;	
}

#logo h2
{
	font: 'century gothic', arial, sans-serif;
	font-size: 100%;
	color: black;
	text-decoration: none;
	margin-top: -20px;
  margin-left: 15px;
}

.svg
{
  float: left;
  margin-right: 5px;
}


ol {
        list-style-type:none;
        padding:0;
        margin:0;
        background-color:transparent;
        font-size: 20px;
        height:2em;
        line-height:2em;
        text-align: center;
        text-transform: uppercase;
      }

      /* wygląd wszystkich elementów - a - znajdujących się w elemencie - ol */
ol a {
        display:block;
        text-decoration:none;
        color: black;
        padding:0 5px;
      }

      /* wygląd elementów - li - wszystkich dzieci elementu - ol */
ol > li {
        float:left;
        width:150px;
        margin-left:1px;
        background-color: #FFFFCC;
        height:2em;
        border: 1px solid green;
        border-radius: 4px;
      }

      /* wygląd elementu - li - pierwszego dziecka elementu - ol */
ol > li:first-child {
        margin-left:0;
      }

      /* wygląd elementów - li - wszystkich dzieci elementu - ol - po najechaniu kursorem myszki na element - li */
ol > li:hover {
        background-color:green;
      }

      /* wygląd elementu - a - dziecka elementu - li - będącego dzieckiem elementu - ol - po najechaniu kursorem myszki na element - li */
ol > li:hover > a {
        color:black;
      }

      /* wygląd elementu - ul - dziecka elementu - li - będącego dzieckiem elementu - ol - po najechaniu kursorem myszki na element - li */
ol > li:hover > ul {
        display:block;
      }

/* wygląd głównych rozwijanych elementów - ul */
ol > li > ul 
	{
        display:none;
        list-style-type:none;
        padding:0;
        margin:0;
    }

      /* wygląd elementu - li - w części rozwijanej */
ol > li > ul > li 
	{
        position:relative;
        background-color:#FFFFCC;
        z-index: 100;
    }

      /* wygląd elementu - a - w części rozwijanej */
ol > li > ul > li > a 
	{
        border :1px solid green;
    }

      /* wygląd elementu - li - w części rozwijanej, po najechaniu kursorem myszki na dany element - li */
ol > li > ul > li:hover 
	{
        background-color: green;
    }

      /* wygląd elementu - a - w części rozwijanej, po najechaniu kursorem myszki na element - li */
ol > li > ul > li:hover > a 
	{
        color: black;
    }

#menu > ol > li:hover > ul
{
  display: block;
  opacity: 1;
  visibility: visible;
}

#strona
	{
  		overflow: hidden;
  		margin:  25px 0px 25px 0px;
  		padding: 20px 20px 20px 20px;
  		background-color:#FFFFCC;
  		border: 1px solid green;
  		border-radius: 4px;
  		opacity: 0.9;
	}
#tresc  li 
  {
    padding: 0 0 0 30px;
    display: block;
    background: transparent url(style/bullet.png) no-repeat left center;
  }

.nowosci
	{ 
		float: right;
 		width: 200px;
  		padding: 0 15px 20px 15px;
	}

.nowosci ul
	{ 
		width: 170px; 
  		padding: 5px 0 0 0; 
 		margin: 5px 0 30px 0;
	}

.nowosci li
	{ 
		list-style: none; 
  		padding: 0 0 5px 0;
  	}

.nowosci li a

{ padding: 0 0 0 30px;
  display: block;
  background: transparent url(style/bullet.png) no-repeat left center;
} 


#tresc
{
	text-align: left;
	width: 600px;
	padding: 0;
}

#galeria
{
  box-shadow: 0 5px 5px -1px rgba(0, 0, 0, 0.5);
  background-color: #068900;
  border-radius:4px;
  padding: 10px 10px 10px 10px;
  margin:10px 10px 10px 10px;
  border: 1px solid black;
  text-align:center;
}
.zdjecie
{ 
  box-shadow: 0 5px 5px -1px rgba(0, 0, 0, 0.5);
  background-color: #FFFFCC;
  position: relative;
  border-radius:4px;
  margin: 10px 10px 10px 10px;
  width:150px;
  height:100px;
  display: inline-block;
  border: 1px solid black;
}
.zdjecie a
{
  position: absolute;
  top:50%;
  left:50%;
  height:30%;
  width:50%;
  margin: -31% 0 0 -47%;
}

#formularz
{
  margin: 20px auto;
}

.tabela
{
  margin: 0px auto 10px auto;
  text-align: center;
}
.tabela td
{
  border:1px solid green;
  border-collapse: collapse;
}

.wiersz
{
  background-color:transparent;
  border: 1px solid green;
  border-collapse: collapse;

}
.naglowek
{
  background-color:green;
}

#stopka
{
  background-color: #FFFFCC;
  opacity: 0.9;
  border: 1px solid green;
  border-radius: 4px;
  color: black;
  display: block;
  margin: 25px 0px 25px 0px;
  overflow: hidden;
  height: auto; 
  text-align: center;
  font-size: 130%;
  padding: 10px 0 10px 0;
}

